.radio {
    background: #000000;
    margin: 0 10px;
}

.radio::before {
    background: #000000;
}


.radio:checked::before {

}

.label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    display: flex;
    margin: 10px;
}

.options {
}
